/*
Colours:
Dark:    	#281b33
Medium:		#291a52
Light:		#44366d
*/

:root {
	--AboutColDark: #281b33;
	--AboutColMedium: #291a52;
	--AboutColLight: #44366d;
	--aboutBodyPadding: 30px;
}


#aboutHeader { 
	background-color: var(--AboutColDark);
}
#aboutBody{
	background-color: var(--AboutColMedium);
	display: flex;
	padding: 30px;
	height: calc(100vh - 60px);
}

.halfLargePanel {
	width: 50%;
	height: 100%;
	position: relative;
	display: block;
	top: 0;
}
#about .scrollbox::-webkit-scrollbar-track {
	border: 1px solid var(--AboutColDark);
}

#about .scrollbox::-webkit-scrollbar-thumb {
	background: var(--AboutColDark);  
}

/* --- BUBBLES PANEL --- */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

#aboutBubbles {
	display: flex;
	flex-direction: column;
}
.aboutBubble {
	--aboutBubblePadding: 30px;
	--aboutBubbleWidth: 70%;
	--aboutBubbleHeight: calc((100% / 3) - (var(--aboutBodyPadding) * (2 / 3)));
	--aboutBubbleHeightWithPadding: calc(var(--aboutBubbleHeight) - var(--aboutBubblePadding) * 2);
	background-color: #44366d;
	width: var(--aboutBubbleWidth);
	max-width: var(--aboutBubbleWidth);
	height: var(--aboutBubbleHeightWithPadding);
	max-height: var(--aboutBubbleHeightWithPadding);
	margin: 0 0 var(--aboutBodyPadding);
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	padding: var(--aboutBubblePadding);
}
.aboutBubble img {
	height: 100%;
}
.aboutBubble div {
	overflow: hidden;
	flex-grow: 1;
}
/*Indent Even Children*/
.aboutBubble:nth-child(even) {
	margin-left: calc(100% - var(--aboutBubbleWidth) - var(--aboutBodyPadding) - var(--aboutBubblePadding) * 2);
}
/*
.aboutBubble:last-child {
	margin-bottom: 0;
}
*/
.aboutBubble > :first-child {
	margin-right: var(--aboutBubblePadding);
}

/* --- SKILLS PANEL --- */

#aboutSkills {
	display: flex;
	flex-direction: column;
}
#toolBelt {
	text-align: center;
	margin: 0 0 30px;
	color: white;
	flex: 0 1 auto;
}
#allSkillContainers {
	padding: 0;
	flex: 1 1 auto;
}
.skillContainer {
	width: 50%;
	float: left;
	margin: 0 0 10px;
}
.skillContainer img {
	width: 70px;
	float: left;
	position: relative;
	z-index: 2;
}
.skillContainer progress[value] {
	float: left;
	position: relative;
	height: 20px;
	top: 25px;
	left: -10px;
	z-index: 1;
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 80px);
}

progress {
  color: var(--AboutColDark);
  background: var(--AboutColLight);
}
progress::progress-value 		 { background: var(--AboutColDark); }
progress::progress-bar 			 { background: var(--AboutColLight); }



/* --- LANDSCAPE NARROW --- */
@media screen and (max-width: 1200px) and (orientation: landscape) {
	/* --- BUBBLES PANEL --- */
	.aboutBubble
	{
		height: 15%;
		padding: 15px;
	}
	.aboutBubble h3 { font-size: 1em;}
	.aboutBubble h4 { font-size: 0.85em;}
	.aboutBubble h5 { font-size: 0.70em;}
	.aboutBubble:nth-child(even) {
		margin-left: calc(100% - var(--aboutBubbleWidth) - var(--aboutBodyPadding) - 30px);
	}
	
	/* --- SKILLS PANEL --- */
	.skillContainer {
		width: 100%;
	}
}
@media screen and (max-width: 971px) and (orientation: landscape) {
	.aboutBubble {
		--aboutBubbleFillWidth: calc(100% - var(--aboutBodyPadding) * 2);
		width:     var(--aboutBubbleFillWidth);
		max-width: var(--aboutBubbleFillWidth);
	}
	.aboutBubble:nth-child(even) {
		margin-left: 0;
	}
}
/* --- PORTRAIT --- */
@media screen and (orientation: portrait) {
	#aboutBody {
		flex-direction: column;
		width: calc(100% - 60px);
		height: auto;
	}
	.halfLargePanel {
		width: 100%;
		height: auto;
		position: relative;
		top: 0;
	}
	
	/* --- BUBBLES PANEL --- */
	.aboutBubble:nth-child(even) {
		margin-left: calc(100% - var(--aboutBubbleWidth) - var(--aboutBodyPadding));
	}
}
/* --- LANDSCAPE NARROW OR PORTRAIT--- */
@media screen and (orientation: portrait), screen and (max-width: 1200px) and (orientation: landscape) {
	.aboutBubble {
		height: 125px;
		padding: 15px;
	}
	.aboutBubble h3, .aboutBubble h4, .aboutBubble h5 {
		margin: 12px 0;
	}
	#aboutBubbles {
		height: auto;
	}
	.aboutBubble > :first-child {
		margin-right: calc(var(--aboutBubblePadding) / 2);
	}
}