#about2
{
	display: flex;
}

.halfLargePanel
{
	width: 50%;
	height: 100vh;
	/*float: left;*/
	position: relative;
	display: block;
	top: 0;
}

@media screen and (orientation: portrait) {
	#about2
	{
		flex-direction: column;
	}
	.halfLargePanel
	{
		width: 100%;
		height: 50vh;
		position: relative;
		top: 0;
	}	
}	

/* --- BUBBLES PANEL --- */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

#aboutBubbles
{
	
}
.aboutBubble
{
	--aboutBubbleMargin: 30px;
	--aboutBubbleWidth: 70%;
	--aboutBubbleHeight: calc((100vh / 3) - (var(--aboutBubbleMargin) * (4 / 3)));
	background-color: #44366d;
	position: absolute;
	width: var(--aboutBubbleWidth);
	max-width: var(--aboutBubbleWidth);
	height: var(--aboutBubbleHeight);
	max-height: var(--aboutBubbleHeight);
	left: var(--aboutBubbleMargin);
	/*border-radius: 50px 0 50px 0;*/
	display: -ms-grid;
	display: grid;
	color: white;
}
.aboutBubble img
{
	margin: 30px;
	height: calc(100% - 60px);
}
.aboutBubble div
{
	margin: 30px;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	-ms-grid-column-align: stretch;
	justify-self: stretch;
	overflow: hidden;
}
#bubbleMe
{
	top: var(--aboutBubbleMargin);
}
#bubbleRingZero
{
	/*top: calc(var(--aboutBubbleMargin) * 2 + (100vh / 3) - (var(--aboutBubbleMargin) * (4 / 3)));*/
	top: calc(var(--aboutBubbleMargin) * (2 / 3) + (100vh / 3));
	left: calc(100% - var(--aboutBubbleWidth) - var(--aboutBubbleMargin));
	-ms-grid-columns: auto var(--aboutBubbleHeight);
	grid-template-columns: auto var(--aboutBubbleHeight);
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}
#bubbleRingZero > *:nth-child(1)
{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
#bubbleRingZero > *:nth-child(2)
{
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
#bubbleRingZero img
{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}
#bubbleRingZero div
{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin: 30px 0 30px 30px;
}
#bubbleUniversity
{
	/*top: calc(var(--aboutBubbleMargin) * 3 + 2 * ((100vh / 3) - (var(--aboutBubbleMargin) * (4 / 3))));*/
	top: calc(var(--aboutBubbleMargin) / 3 + (100vh / 1.5));
}
#bubbleMe, #bubbleUniversity
{
	-ms-grid-columns: var(--aboutBubbleHeight) auto;
	grid-template-columns: var(--aboutBubbleHeight) auto;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}
#bubbleMe > *:nth-child(1), #bubbleUniversity > *:nth-child(1)
{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
#bubbleMe > *:nth-child(2), #bubbleUniversity > *:nth-child(2)
{
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
#bubbleMe img, #bubbleUniversity img
{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}
#bubbleMe div, #bubbleUniversity div
{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin: 30px 30px 30px 0;
}

/* --- SKILLS PANEL --- */

#aboutSkills
{
	/*background-color: blue;*/
}
#toolBelt
{
	text-align: center;
	margin: 0 auto 20px;
	color: white;
}
#allSkillContainers
{
	padding: 30px 30px 30px 0;
}
.skillContainer
{
	width: 50%;
	/*background-color: red;*/
	float: left;
	margin: 0 0 10px;
}
.skillContainer img
{
	width: 80px;
	float: left;
	position: relative;
	z-index: 2;
}
.skillContainer progress[value]
{
	float: left;
	position: relative;
	height: 20px;
	top: 30px;
	left: -10px;
	z-index: 1;
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 80px);
}

progress {
  color: #281b33;
  background: #44366d;
}
progress::progress-value 		 { background: #281b33; }
progress::-moz-progress-value 	 { background: #281b33; }
progress::-webkit-progress-value { background: #281b33; }
progress::progress-bar 			 { background: #44366d; }
progress::-moz-progress-bar 	 { background: #44366d; }
progress::-webkit-progress-bar 	 { background: #44366d; }

