/*
Colours:
Dark:    	#281b33
Medium:		#291a52
Light:		#44366d
*/

:root {
	--AboutColDark: #281b33;
	--AboutColMedium: #291a52;
	--AboutColLight: #44366d;
}


#about {
	
}
#about1 { 
	background-color: var(--AboutColDark);
}
#about2{
	background-color: var(--AboutColMedium);
	display: flex;
}

.halfLargePanel {
	width: 50%;
	height: 100vh;
	position: relative;
	display: block;
	top: 0;
}

@media screen and (orientation: portrait) {
	#about2 {
		flex-direction: column;
	}
	.halfLargePanel {
		width: 100%;
		height: 50vh;
		position: relative;
		top: 0;
	}
	#aboutBubbles {
		height: 50vh;
	}
	#aboutSkills {
		height: auto;
	}
}	

/* --- BUBBLES PANEL --- */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

#aboutBubbles {
	display: flex;
	flex-direction: column;
}
.aboutBubble {
	--aboutBubbleMargin: 30px;
	--aboutBubblePadding: 30px;
	--aboutBubbleWidth: 70%;
	--aboutBubbleHeight: calc((100% / 3) - (var(--aboutBubbleMargin) * (4 / 3)));
	--aboutBubbleHeightWithPadding: calc(var(--aboutBubbleHeight) - var(--aboutBubblePadding) * 2);
	background-color: #44366d;
	width: var(--aboutBubbleWidth);
	max-width: var(--aboutBubbleWidth);
	height: var(--aboutBubbleHeightWithPadding);
	max-height: var(--aboutBubbleHeightWithPadding);
	margin: var(--aboutBubbleMargin) var(--aboutBubbleMargin) 0 var(--aboutBubbleMargin);
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	padding: var(--aboutBubblePadding);
}
.aboutBubble img {
	height: 100%;
}
.aboutBubble div {
	overflow: hidden;
	flex-grow: 1;
}
#bubbleRingZero {
	margin: var(--aboutBubbleMargin) var(--aboutBubbleMargin) 0 calc(100% - var(--aboutBubbleWidth) - var(--aboutBubbleMargin) - var(--aboutBubblePadding) * 2);
}
#bubbleRingZero img {
	margin-left: var(--aboutBubblePadding);
}
#bubbleMe img, #bubbleUniversity img {
	margin-right: var(--aboutBubblePadding);
}

@media screen and (max-width: 1300px) and (orientation: landscape) {
	.aboutBubble
	{
		margin: var(--aboutBubbleMargin) var(--aboutBubbleMargin) 0 var(--aboutBubbleMargin);
		width: auto;
	}
}

/* --- SKILLS PANEL --- */

#aboutSkills {}
#toolBelt {
	text-align: center;
	margin: 20px auto 0;
	color: white;
}
#allSkillContainers {
	padding: 30px 30px 30px 0;
}
@media screen and (orientation: portrait) {
	#allSkillContainers {
		padding: 0 30px 30px 30px;
	}
	#toolBelt {
		margin: 0 auto 20px;
	}
}
.skillContainer {
	width: 50%;
	/*background-color: red;*/
	float: left;
	margin: 0 0 10px;
}
.skillContainer img {
	width: 80px;
	float: left;
	position: relative;
	z-index: 2;
}
.skillContainer progress[value] {
	float: left;
	position: relative;
	height: 20px;
	top: 30px;
	left: -10px;
	z-index: 1;
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 80px);
}

progress {
  color: var(--AboutColDark);
  background: var(--AboutColLight);
}
progress::progress-value 		 { background: var(--AboutColDark); }
progress::-moz-progress-value 	 { background: var(--AboutColDark); }
progress::-webkit-progress-value { background: var(--AboutColDark); }
progress::progress-bar 			 { background: var(--AboutColLight); }
progress::-moz-progress-bar 	 { background: var(--AboutColLight); }
progress::-webkit-progress-bar 	 { background: var(--AboutColLight); }


