/*
Colours:
Dark:    	  	#0d5302
Medium:			#056f00
Ligher:			#0a7e07
*/

#contact {
	color: #ddd;
}

#contact h1 {
	color: #fff;
	font-family: "Lucida Console", serif;
	font-size: 50px;
	margin: 50px 0 20px;
} 

#contact h2 {
	font-family: "Lucida Console", serif;
	
}


#contact h3 {
	font-family: "Lucida Console", serif;
	font-size: 25px;
	padding-left: 60px;
} 

#contactContent{
	padding-left: 20px;
}

.contactWebsiteLogos {
	width: 75px;
	height: 75px;
	margin-right: 20px;
}
