/*
Colours:
Dark:    	  	#0d5302
Medium:			#056f00
Ligher:			#0a7e07
*/

#contact {
	color: #ddd;
}

#contact h1 {
	color: #fff;
	font-family: "Lucida Console", serif;
	font-size: 50px;
	margin: 50px auto 50px auto;
	display: block;
	text-align: center;
} 

#contact h2 {
	font-family: "Lucida Console", serif;
	display: block;
	text-align: center;
}


#contact h3 {
	font-family: "Lucida Console", serif;
	font-size: 25px;
	padding-left: 60px;
} 

#contactContent{
	padding-left: 20px;
}

#contact table{
	padding-left: 60px;
	font-family: "Lucida Console", serif;
	font-size: 25px;
	margin: 40px auto 20px;
}
#contact td {
	padding-bottom: 20px;
}





.contactWebsiteLogos {
	width: 75px;
	height: 75px;
	margin-right: 20px;
}

.hrBars {
	width: 100px;
	display: inline-block;
	margin: 36px 10px;
}



#SocialBox{
	margin: 50px auto;
	width: 510px;
}



