h1 {
	font-family: "Lucida Console", serif;
} 
.page_section {
	position: absolute; 
	left:0;
	width: 100%;
	height: 100vh;
}



.sidePanel {
	position: absolute;
	width: 15%;
	height: 100vh;
}
.largerPanel {
	position: absolute;
	left: 15%;
	width: 85%;
	height: 100vh;
}
.sidePanel h1{
	margin:0;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%; 
	font-size: 50px;
	
	transform: translate(-50%, -50%) rotateZ(-90deg);
	transition: top 0.5s; 
}

/* NavArrows */
.fixNavArrows {
	position: absolute;
	top: 100vh;
	z-index: 100;
	left: 0;
}
.fixNavArrows h1{
	font-size: 50px;
	padding: 50px;
	margin: -30px 0 0 -50px;
}  
.fixNavArrows h1:nth-child(1){
	transform: translate( 6.25vw, 0vh) rotateZ(-90deg)	
}  
.fixNavArrows h1:nth-child(2){
	transform: translate( 6.25vw, calc(100vh - 200px )) rotateZ(-90deg)	
}  
.fixNavArrows h1 a{
	color: white;
	text-decoration:none; 
	padding: 20px;
}


/* Intro */
#intro {
	top:0;
}
#intro h1 {
	display: block;
	position: absolute;
	text-align: center;
	margin: 0;
	top: 14vh; /*100px; */
	bottom: 0;
	left: 0;
	right: 0; 
} 
.mainImg img{
	width: 300px;
	height: 300px;
	
	display: block;
	
	position: absolute;
	float: left;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%); 
	clip-path: circle(150px at center); 
}
.linkHolder {
	position: absolute;
	top: 83vh; /*calc(100vh - 100px);*/ 
	bottom: 0;
	left: 0;
	right: 0;
	
	display: block;
	text-align: center;
	vertical-align: middle;
	
	margin: 0px auto;
	font-size: 20px;
} 
.linkHolder a{
	color: black;
	text-decoration:none; 
	font-family: "Lucida Console", serif;
	padding: 30px 0;
	
} 
.linkHolder a:hover{
	text-decoration: underline;
}


/* About */
#about {
	top: 100vh;
}
#about1 { 
	background-color: #222;
}
#about2{
	background-color: #444;
}
#about1 h1{
	color: white;
}


 /* Portfolio */
#portfolio {
	top: 200vh;
}
#portfolio1 { 
	background-color: #338;
}
#portfolio2{
	background-color: #33B;
}
#portfolio1 h1{
	color: white;
}


 /* Contact Me */
#contact {
	top: 300vh;
}
#contact1 { 
	background-color: #383;
}
#contact2{
	background-color: #3B3;
}
#contact1 h1{
	color: white;
}