.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

html, body{
	max-width: 100%
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }


h1 {
	font-family: "Lucida Console", serif;
} 

h2 {
	color: #DDD;
	font-family: "Verdana", serif;
	margin: 10px;
}
body{
	display: flex;
	flex-direction: column;
	margin: 0;
}

.page_section {
	left:0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.sidePanel {
	display: flex;
	align-content: center;
	align-items: center;
	width: 150px; 
	height: 100vh;
}
.largerPanel {
	width: calc(100% - 150px);
	height: 100vh;
}
.sidePanel h1{
	margin:0;
	white-space: nowrap;
	font-size: 50px;
	z-index: 10;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0) rotateZ(-90deg);
}

/* NavArrows */
.fixNavArrows {
	position: absolute;
	top: 100vh;
	z-index: 100;
	left: 0;
}
.fixNavArrows h1{
	font-size: 50px;
	padding: 50px;

	margin: -30px 0 0 -90px;
}  
.fixNavArrows h1:nth-child(1){
	transform: translate( 75px, 0vh) rotateZ(-90deg);
}  
.fixNavArrows h1:nth-child(2){
	transform: translate( 75px, calc(100vh - 200px )) rotateZ(-90deg);
}  
.fixNavArrows h1 a{
	color: white;
	text-decoration:none; 
	padding: 20px;
	transform: translate( -50%, 0 );
}
@media screen and (orientation: portrait) {
	.page_section {
		flex-direction: column;
		height: auto;
	}
	.sidePanel {
		width: 100vw; 
		min-height: 150px;
		max-height: 150px;
	}
	.largerPanel {
		width: 100%;
		left: 0px;
		height: auto;
	}
	.fixNavArrows {
		visibility: hidden;
	}
	.sidePanel h1{
		transform: translate(-50%, 0);
	}
}



/* Intro */
#intro {
	background-color: #DDD;
	height: 100vh; /*Ensure full page for mobile still*/
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: space-evenly;
}
#intro h1 {
	display: block;
	text-align: center;
	margin: 0;
	font-size: 1.5em;
	z-index: 10;
} 
.mainImg img{
	width: 300px;
	height: 300px;
	z-index: 10;
}
.linkHolder {
	display: block;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	font-size: 20px;
	z-index: 10;
} 
.linkHolder a{
	color: black;
	text-decoration:none; 
	font-family: "Lucida Console", serif;
	padding: 30px 0;
} 
.linkHolder a:hover{
	text-decoration: underline;
}
@media screen and (orientation: portrait) {
	#intro h1 {
		font-size: 3em;
	}
	.linkHolder {
		font-size: 30px;
	} 
}

/* About */
/*
Purple Colour Palette:
Lightest to Darkest
#281b33
#291a52
#44366d
*/
#about {
	
}
#about1 { 
	background-color: #281b33;
}
#about2{
	background-color: #291a52;
}
#about1 h1{
	color: white;
}


 /* Portfolio */
#portfolio {
	
}
#portfolio1 { 
	background-color: #1b2433; /*338*/
}
#portfolio2{
	background-color: #1a3f52; /*33B*/
}
#portfolio1 h1{
	color: white;
}


 /* Contact Me */
#contact {
	
}
#contact1 { 
	background-color: #1b332c; /*383*/
}
#contact2{
	background-color: #1a5233; /*3B3*/
}
#contact1 h1{
	color: white;
}



.scrollbox {
	margin: 10px;
	width: calc(100% - 20px);
	height: calc(100vh - 20px);
	overflow: auto;
}
.scrollbox::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}



/*
Size Modes:		
1) 1301 >= w
2) 501 <= w <= 1300

*/
@media screen and (min-width: 1301px) {

}
@media screen and (max-width: 1300px) {

}
@media screen and (orientation: landscape) {

}
@media screen and (orientation: portrait) {

}
 




