#intro {
	background-color: #DDD;
	height: 100vh; /*Ensure full page for mobile still*/
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	/* IE11: doesn't support space-evenly. */
	justify-content: space-around;
}
@supports (justify-content: space-evenly) {
	/*If Not Edge. Edge thinks it can support it, but it can't*/
	@supports not (-ms-ime-align:auto) {
		#intro {
			/* Use space-evenly if supported. */
			justify-content: space-evenly;
		}
	}
}
#intro h1 {
	display: block;
	text-align: center;
	margin: 0;
	font-size: 1.5em;
	z-index: 10;
} 
.mainImg img{
	width: 300px;
	height: 300px;
	z-index: 10;
}
.linkHolder {
	display: block;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	font-size: 20px;
	z-index: 10;
} 
.linkHolder a{
	color: black;
	text-decoration:none; 
	font-family: "Lucida Console", serif;
	padding: 30px 0;
} 
.linkHolder a:hover{
	text-decoration: underline;
}
@media screen and (orientation: portrait) {
	#intro h1 {
		font-size: 3em;
	}
	.linkHolder {
		font-size: 30px;
	} 
}