/*
Colours:
Dark:    	  	#1b2433
Medium:			#1a3f52
Ligher:			#365b6d

*/




#portfolio .scrollbox::-webkit-scrollbar-track {
border: 1px solid #224;
}

#portfolio .scrollbox::-webkit-scrollbar-thumb {
background: #224;  
}


.projBox {
	color: #DDD;
	background-color: #365b6d;
	margin: 10px;
	position: relative;
	/*width: calc(100% - 20px); */
	/*border-radius: 15px;*/
	font-family: "Verdana", serif;
	width: calc(50% - 20px);
	float: left;
}


.projBox img {
	float: left;
	display: inline-block;
	width: 150px;
	height: 150px;
	/*border-radius: 15px 0 0 15px;*/
}

.projText{
	float: left;
	width:     calc(100% - 150px);
}

.projBox h2 {
	margin: 5px;
	min-width: calc(100% - 5px);
	width:     calc(100% - 5px);
	font-size: 18px;
}

.projBox h4 {
	margin: 5px;
	font-size: 10px;
}

.downloadButtons{
	position: absolute;
	top: auto;
	left: 160px;
	bottom: 10px;
	right: auto;
}

.downloadButton { 
	width: auto;
	height: 25px;
	padding: 0 10px;
	background-color: yellow;
	position: relative;
	float: left;
	margin-right: 10px;
	/*border-radius: 10px;*/
}
.downloadButton p {
	margin: 0;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


