
#Village img{
  -webkit-animation: VillageCycle 2.5s infinite; /* Safari 4+ */
  -moz-animation:    VillageCycle 2.5s infinite; /* Fx 5+ */
  -o-animation:      VillageCycle 2.5s infinite; /* Opera 12+ */
  animation:         VillageCycle 2.5s infinite; /* IE 10+, Fx 29+ */
  animation-play-state: paused;
}
#Village:hover img{
	animation-play-state: running; 
}
@-webkit-keyframes VillageCycle {
  0%   { content:url("images/Medieval1.jpg");}
  20%  { content:url("images/Medieval2.jpg");}
  40%  { content:url("images/Medieval3.jpg");}
  60%  { content:url("images/Medieval4.jpg");}
  80%  { content:url("images/Medieval5.jpg");}
}
@-moz-keyframes VillageCycle {
  0%   { content:url("images/Medieval1.jpg");}
  20%  { content:url("images/Medieval2.jpg");}
  40%  { content:url("images/Medieval3.jpg");}
  60%  { content:url("images/Medieval4.jpg");}
  80%  { content:url("images/Medieval5.jpg");}
}
@-o-keyframes VillageCycle {
  0%   { content:url("images/Medieval1.jpg");}
  20%  { content:url("images/Medieval2.jpg");}
  40%  { content:url("images/Medieval3.jpg");}
  60%  { content:url("images/Medieval4.jpg");}
  80%  { content:url("images/Medieval5.jpg");}
}
@keyframes VillageCycle {
  0%   { content:url("images/Medieval1.jpg");}
  20%  { content:url("images/Medieval2.jpg");}
  40%  { content:url("images/Medieval3.jpg");}
  60%  { content:url("images/Medieval4.jpg");}
  80%  { content:url("images/Medieval5.jpg");}
}





#WaterManagement img{
  -webkit-animation: WaterManagementCycle 2.5s infinite; /* Safari 4+ */
  -moz-animation:    WaterManagementCycle 2.5s infinite; /* Fx 5+ */
  -o-animation:      WaterManagementCycle 2.5s infinite; /* Opera 12+ */
  animation:         WaterManagementCycle 2.5s infinite; /* IE 10+, Fx 29+ */
  animation-play-state: paused;
}
#WaterManagement:hover img{
	animation-play-state: running; 
}
@-webkit-keyframes WaterManagementCycle {
  0%   { content:url("images/WaterManagement1.jpg");}
  20%  { content:url("images/WaterManagement2.jpg");}
  40%  { content:url("images/WaterManagement3.jpg");}
  60%  { content:url("images/WaterManagement4.jpg");}
  80%  { content:url("images/WaterManagement5.jpg");}
}
@-moz-keyframes WaterManagementCycle {
  0%   { content:url("images/WaterManagement1.jpg");}
  20%  { content:url("images/WaterManagement2.jpg");}
  40%  { content:url("images/WaterManagement3.jpg");}
  60%  { content:url("images/WaterManagement4.jpg");}
  80%  { content:url("images/WaterManagement5.jpg");}
}
@-o-keyframes WaterManagementCycle {
  0%   { content:url("images/WaterManagement1.jpg");}
  20%  { content:url("images/WaterManagement2.jpg");}
  40%  { content:url("images/WaterManagement3.jpg");}
  60%  { content:url("images/WaterManagement4.jpg");}
  80%  { content:url("images/WaterManagement5.jpg");}
}
@keyframes WaterManagementCycle {
  0%   { content:url("images/WaterManagement1.jpg");}
  20%  { content:url("images/WaterManagement2.jpg");}
  40%  { content:url("images/WaterManagement3.jpg");}
  60%  { content:url("images/WaterManagement4.jpg");}
  80%  { content:url("images/WaterManagement5.jpg");}
}


#Pacman img{
  -webkit-animation: PacmanCycle 2s infinite; /* Safari 4+ */
  -moz-animation:    PacmanCycle 2s infinite; /* Fx 5+ */
  -o-animation:      PacmanCycle 2s infinite; /* Opera 12+ */
  animation:         PacmanCycle 2s infinite; /* IE 10+, Fx 29+ */
  animation-play-state: paused;
}
#Pacman:hover img{
	animation-play-state: running; 
}
@-webkit-keyframes PacmanCycle {
  0%   { content:url("images/Pacman1.jpg");}
  25%  { content:url("images/Pacman2.jpg");}
  50%  { content:url("images/Pacman3.jpg");}
  75%  { content:url("images/Pacman4.jpg");}
}
@-moz-keyframes PacmanCycle {
  0%   { content:url("images/Pacman1.jpg");}
  25%  { content:url("images/Pacman2.jpg");}
  50%  { content:url("images/Pacman3.jpg");}
  75%  { content:url("images/Pacman4.jpg");}
}
@-o-keyframes PacmanCycle {
  0%   { content:url("images/Pacman1.jpg");}
  25%  { content:url("images/Pacman2.jpg");}
  50%  { content:url("images/Pacman3.jpg");}
  75%  { content:url("images/Pacman4.jpg");}
}
@keyframes PacmanCycle {
  0%   { content:url("images/Pacman1.jpg");}
  25%  { content:url("images/Pacman2.jpg");}
  50%  { content:url("images/Pacman3.jpg");}
  75%  { content:url("images/Pacman4.jpg");}
}







#Pong img{
  -webkit-animation: PongCycle 2.5s infinite; /* Safari 4+ */
  -moz-animation:    PongCycle 2.5s infinite; /* Fx 5+ */
  -o-animation:      PongCycle 2.5s infinite; /* Opera 12+ */
  animation:         PongCycle 2.5s infinite; /* IE 10+, Fx 29+ */
  animation-play-state: paused;
}
#Pong:hover img{
	animation-play-state: running; 
}
@-webkit-keyframes PongCycle {
  0%   { content:url("images/Pong1.jpg");}
  20%  { content:url("images/Pong2.jpg");}
  40%  { content:url("images/Pong3.jpg");}
  60%  { content:url("images/Pong4.jpg");}
  80%  { content:url("images/Pong5.jpg");}
}
@-moz-keyframes PongCycle {
  0%   { content:url("images/Pong1.jpg");}
  20%  { content:url("images/Pong2.jpg");}
  40%  { content:url("images/Pong3.jpg");}
  60%  { content:url("images/Pong4.jpg");}
  80%  { content:url("images/Pong5.jpg");}
}
@-o-keyframes PongCycle {
  0%   { content:url("images/Pong1.jpg");}
  20%  { content:url("images/Pong2.jpg");}
  40%  { content:url("images/Pong3.jpg");}
  60%  { content:url("images/Pong4.jpg");}
  80%  { content:url("images/Pong5.jpg");}
}
@keyframes PongCycle {
  0%   { content:url("images/Pong1.jpg");}
  20%  { content:url("images/Pong2.jpg");}
  40%  { content:url("images/Pong3.jpg");}
  60%  { content:url("images/Pong4.jpg");}
  80%  { content:url("images/Pong5.jpg");}
}











#Switch img{
  -webkit-animation: SwitchCycle 2s infinite; /* Safari 4+ */
  -moz-animation:    SwitchCycle 2s infinite; /* Fx 5+ */
  -o-animation:      SwitchCycle 2s infinite; /* Opera 12+ */
  animation:         SwitchCycle 2s infinite; /* IE 10+, Fx 29+ */
  animation-play-state: paused;
}
#Switch:hover img{
	animation-play-state: running; 
}
@-webkit-keyframes SwitchCycle {
  0%   { content:url("images/Switch1.png");}
  25%  { content:url("images/Switch2.png");}
  50%  { content:url("images/Switch3.png");}
  75%  { content:url("images/Switch4.png");}
}
@-moz-keyframes SwitchCycle {
  0%   { content:url("images/Switch1.png");}
  25%  { content:url("images/Switch2.png");}
  50%  { content:url("images/Switch3.png");}
  75%  { content:url("images/Switch4.png");}
}
@-o-keyframes SwitchCycle {
  0%   { content:url("images/Switch1.png");}
  25%  { content:url("images/Switch2.png");}
  50%  { content:url("images/Switch3.png");}
  75%  { content:url("images/Switch4.png");}
}
@keyframes SwitchCycle {
  0%   { content:url("images/Switch1.png");}
  25%  { content:url("images/Switch2.png");}
  50%  { content:url("images/Switch3.png");}
  75%  { content:url("images/Switch4.png");}
}



